.carousel.carousel-slider .carousel-item {
    background-color: rgb(255, 255, 255);
}

.colorDefault{
    background-color: #1b5e20;
}

.colorContrast{
    background-color: #fff;
}

.colorIcons{
    fill: #fff;
}

.colorIconsContrast{
    fill: #000;
}

.textColor{
    color: rgb(0, 0, 0) !important;
}

.contentCardOwn{
    background-color: rgb(240, 240, 240);
}

.contentCardOwn:hover{
    background-color: rgb(255, 255, 255);
}

.titleCardOwn{
    color: #1b5e20;
}
